@import "__colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $navy;
  font-family: "Roboto", sans-serif;

  @media (min-width: 48em) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
