*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strong-cyan: #26c0ab;
  --cyan: #26c2ae;
  --dark-cyan: #0d686d;
  --very-dark-cyan: #00474b;
  --dark-grayish-cyan: #5e7a7d;
  --grayish-cyan: #7f9c9f;
  --light-cyan: #9fe8df;
  --light-grayish-cyan: #c5e4e7;
  --very-light-grayish-cyan: #f3f9fa;
  --white: #ffffff;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  display: block;
  margin: 3.125rem auto 2.5rem;
}

.card {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  background: var(--white);
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  padding: 2rem;
}

.icon {
  position: absolute;
}

.dollar-icon {
  padding: 1rem;
}

.person-icon {
  padding: 0.8rem;
}

label {
  display: block;
  color: var(--dark-grayish-cyan);
}

input[type="number"] {
  border: none;
  border-radius: 5px;
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  text-align: end;
  padding: 0.375rem 1.188rem;
  color: var(--very-dark-cyan);
  font-size: 1.5rem;
}

input[type="number"]:focus {
  outline: 0 none;
  border: 2px solid var(--cyan);
}

.bill-total-label {
  margin-top: 2rem;
}

.bill-total-input {
  margin: 0.375rem 0 2rem;
}

.tip-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tip-btn {
  width: 146px;
  border: none;
  border-radius: 5px;
  background: var(--very-dark-cyan);
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.tip-btn.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-btn:hover,
.reset-btn:hover {
  background-color: var(--light-cyan);
  color: var(--very-dark-cyan);
}

.custom-tip-input {
  color: var(--grayish-cyan);
  font-size: 1.5rem;
  width: 146px !important;
}

.number-people-label {
  margin-bottom: 0.375rem;
}

.bill-results-container {
  margin-top: 2rem;
  background-color: var(--very-dark-cyan);
  padding: 1.5rem;
  border-radius: 15px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.bill-results-title {
  color: var(--white);
}

.per-person-txt {
  color: var(--dark-grayish-cyan);
  font-size: 0.813rem;
}

.amount {
  color: var(--strong-cyan);
  font-size: 2rem;
  letter-spacing: -0.667px;
}

.total-amount-container {
  margin-top: 1.5rem;
}

.reset-btn {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--cyan);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 0.563rem 0;
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2.188rem;
}

.reset-btn:disabled {
  background-color: var(--dark-cyan);
  color: var(--very-dark-cyan);
  cursor: not-allowed;
}

@media (min-width: 90em) {
  .logo {
    margin-top: 10.188rem;
    margin-bottom: 5.438rem;
  }
  .card {
    display: flex;
    justify-content: space-between;
    width: 920px;
    border-radius: 25px;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
    margin-bottom: 14.938rem;
  }

  .tip-form {
    width: 450px;
  }

  input[type="number"] {
    width: 379px;
  }

  .custom-tip-input {
    width: 118px !important;
    font-size: 1.2rem !important;
  }

  .tip-btn {
    width: 117px;
  }

  .bill-results-container {
    width: 413px;
    padding: 2.5rem;
    padding-top: 3.5rem;
  }

  .reset-btn {
    margin-top: 8.375rem;
  }
}
