*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../public/assets/images/pattern-background-mobile-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Rubik", sans-serif;
}

@media (min-width: 48em) {
  body {
    background-image: url("../public/assets/images/pattern-background-tablet-light.svg");
  }
}

@media (min-width: 64em) {
  body {
    background-image: url("../public/assets/images/pattern-background-desktop-light.svg");
  }
}
