@import "../_colors.scss";

.btn {
  background-color: $navy;
  color: $white;
  font-weight: 700;
  line-height: 150%;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding-top: 1.125rem;
  padding-bottom: 0.875rem;
  cursor: pointer;
  width: 100%;

  @media (min-width: 48em) {
    width: 376px;
  }

  &:hover {
    background: var(
      --gradient-1,
      linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%)
    );
    box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  }
}
