*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark-purple: #24053e;
$dark-grey: #584d62;
$white: #ffffff;
$ghost-white: #fcf8ff;
$light-green: #44ffa1;

@font-face {
  font-family: "Fraunces_144pt-SemiBold";
  src: url("./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

.workit-landing {
  font-family: "Manrope", sans-serif;

  .cta-link {
    background-color: $light-green;
    color: $dark-purple;
    font-weight: 700;
    padding: 0.688rem 1.438rem;
    display: inline-block;
  }

  .cta-link:hover {
    background-color: transparent;
    color: $light-green;
    border: 2px solid $light-green;
    cursor: pointer;
  }

  &__hero-section {
    text-align: center;
    position: relative;

    &__text-container {
      background-color: $dark-purple;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 4rem;

      nav {
        padding-top: 2rem;
        padding-bottom: 4rem;

        ul {
          display: flex;
          justify-content: space-between;
          align-items: center;

          li {
            list-style-type: none;

            .hero-cta-link {
              color: $white;
              font-weight: 700;
              line-height: 32px;
              letter-spacing: -0.16px;
              text-decoration: none;
              border-bottom: 3px solid $light-green;
            }

            .hero-cta-link:hover {
              color: $light-green;
            }
          }
        }
      }

      &__tag-line {
        font-family: "Fraunces_144pt-SemiBold", serif;
        color: $white;
        font-size: 3.125rem;
        text-align: center;
        margin-bottom: 3.188rem;

        @media (min-width: 48em) {
          font-size: 3.75rem;
          width: 573px;
          margin: auto;
          margin-bottom: 2.438rem;
        }

        &__underlined-text {
          border-bottom: 3px solid $light-green;
        }
      }
    }

    &__img-container {
      background-image: radial-gradient(
        ellipse 150% 100% at 50% -50%,
        #24053e 0%,
        #24053e 95%,
        #fcf8ff 95%
      );

      &__mobile-phone {
        width: 80%;
      }
    }

    &__bg-pattern {
      display: none;

      @media (min-width: 48em) {
        display: block;
        position: absolute;
        top: 4.375rem;
        left: -14rem;
      }
    }

    &__bg-pattern2 {
      display: none;

      @media (min-width: 48em) {
        display: block;
        position: absolute;
        top: 15.625rem;
        right: -5rem;
      }
    }
  }

  &__main {
    &__company-insights {
      background-color: $ghost-white;
      overflow: hidden;

      @media (min-width: 48em) {
        padding: 0 6.063rem;

        li {
          display: flex;
          gap: 32px;
        }
      }

      &__step-number {
        border: 1px solid $dark-grey;
        border-radius: 50%;
        color: $dark-purple;
        text-align: center;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 36px;
        width: 48px;
        height: 46px;
        padding: 0.313rem 1rem;
        margin: auto;
      }

      &__text-container {
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;

        @media (min-width: 48em) {
          text-align: start;
        }

        &__title {
          font-family: "Fraunces_144pt-SemiBold", serif;
          font-weight: 600;
          font-size: 1.75rem;
          line-height: 36px;

          @media (min-width: 48em) {
            margin-left: 1rem;
          }
        }

        &__description {
          color: $dark-grey;
          font-weight: 400;
          line-height: 28px;
          margin: 1rem;
        }
      }

      li {
        list-style-type: none;
      }
    }

    &__curved-bottom {
      width: 100%;
      height: 100px;
      background-color: $ghost-white;
      border-radius: 30%;
      margin-top: -60px;
    }

    &__founder-info {
      &__avatar {
        width: 281px;
        height: 281px;
        display: block;
        margin: auto;
        margin-top: 6.25rem;

        @media (min-width: 48em) {
          margin-top: 6.25rem;
          margin-left: 2.438rem;
        }
      }

      &__text-container {
        background-color: $dark-purple;
        color: $white;
        margin: -3rem 1rem 4.625rem;
        z-index: 10;
        position: relative;
        padding: 1.938rem;
        text-align: center;

        @media (min-width: 48em) {
          width: 514px;
          margin-left: 13.375rem;
          margin-top: -8.5rem;
          text-align: left;
          padding: 3.5rem;
          padding-top: 3rem;
        }

        &__subheading {
          font-size: 2rem;
          font-family: "Fraunces 144pt";
          font-weight: 600;

          @media (min-width: 48em) {
            font-size: 3rem;
          }
        }

        &__description {
          margin-top: 1rem;
          margin-bottom: 1.5rem;
          line-height: 28px;
        }

        &__cta-link {
          text-decoration: none;
        }
      }
    }
  }

  &__footer {
    &__workit-logo img {
      margin: auto;
      margin-bottom: 3.563rem;
      display: block;
    }

    &__social-media-links {
      display: flex;
      align-items: center;
      gap: 28px;
      padding-left: 8.125rem;
      padding-right: 8.125rem;
      margin-bottom: 3.938rem;

      @media (min-width: 48em) {
        justify-content: center;
      }

      a svg:hover path {
        fill: $dark-purple;
      }
    }
  }
}
