@import "./_colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $veryDarkBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Overpass;
}
